nav, footer {
    background-color: rgb(80, 214, 109);
}

.h1-usuarios {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}

body {
    background-color: rgb(223, 216, 216);
} 